*{
    margin: 0px;
    padding: 0px;
}

body{
    color:black;
    font-family: arial;
}

input{
    display: block;
    height: 50px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid limegreen;
    font-size: 16pt;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.01);
    color: black;
    outline: none;
}

div#pergunta{
    
}


div#corpo-form{
    width: 420px;
    margin: 150px auto 0px auto;
}

div#corpo-form-cad{
    width: 420px;
    margin: 80px auto 0px auto;
}


div#corpo-form h1, div#corpo-form-cad{
    text-align: center;
    padding: 20px;
}

a{
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover{
    text-decoration: underline;
}

input[type=submit]{
    background-color: limegreen;
    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { 
   color: black;  
}

::-moz-placeholder {  
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

div#msg-sucesso
{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(0,128,0,.7);
    border: 2px solid black;
}

div.msg-erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(255,0,0,.7);
    border: 2px solid black;
}

.btPerfil{
    margin-left: 30px !important;
}

.container h-100{
    
}


.btPerfil2{
    margin-left: 30px !important;
}






















